html{
	box-sizing: border-box;
}
*, *::before, *::after{
	box-sizing: inherit;
}

$size: 100px;
$color: #8FBC8F;
@mixin flexible () {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}


.box {
	padding: 5px;
	@include flexible ();
	width: 450px;
	height: 337.5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid black;
	.square {
		width: $size;
		height: $size;
		background-color: $color;
	}
}

